<div class="pull-right">
    <a ui-sref="CollectionAdd" class="btn btn-default">
      <span class="glyphicon glyphicon-plus"></span> New Collection
    </a>
</div>
<h2>Collection List</h2>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="collection in collections._embedded.collections">
            <td>
                <span ng-bind="collection.name"></span>
                <span class="pull-right">
                    <a class="btn btn-default" ui-sref="CollectionView({ name: collection.name })"><span class="glyphicon glyphicon-eye-open"></span></a>
                </span>
            </td>
        </tr>
    </tbody>
</table>

